# Tools for Data Science

## Introduction
This notebook provides a summary of tools and techniques used in Data Science. It includes common libraries, tools, and basic operations.

## Languages used in Data Science
1. Python
2. R
3. SQL
4. Julia

## Libraries used in Data Science
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Data Science Tools

| Tool Name     | 
|---------------|
| JupyterLab     | 
| RStudio        |
| Apache Spark   |
| TensorFlow     |
| Tableau        |

## Examples of Arithmetic Expressions

In [1]:
# Multiplication and Addition of numbers
(3 * 4) + 5

17

In [4]:
# minutes to hours
mi = 600
hr = mi / 60
hr

10.0

## Objectives
- List of few languages in data science
- List of few commonly used libraries
- A table of data science tools
- Basic arithmetic operations
- Converting units from minutes to hours

## Author
Harshini Reddy Penthala